body {
    color: black;
    background-color: #badfdb;
}

div {
    background-color: #fcf9ea;
}

ul {
    display: inline-block;
    width: 180px;
    padding: 4px;
    border-bottom-right-radius: 62%;
    border-top-right-radius: 62%;
    box-shadow: 4px 1px 11px 2px #000;
    background-color: #fff;
}

nav {
    display:none;
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0px;
    margin-left: 0px;
    margin-bottom: 80px;
}

ul li {
    text-align: center;
    padding: 10px 2px;
    margin-bottom: 5px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: rgb(104, 92, 24);
    text-decoration: none;
    cursor: pointer;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    text-align: center;
    background-color: #fff;
}

h1 {
    font-size: 25px;
    padding: 5px;
    margin-left: 20px;
    font-style: italic;
    color: #f8a978;
}

form {
    margin: 5px auto;
    width: 300px;
}

button {
    background-color: #badfdb;
    border-color: #f8a978;
    border-style: groove;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tips {
    width: 280px;
    height: 50px;
    padding: 5px;
    margin: 0 auto;
    background-color: rgb(111, 221, 221);
    border: 1px solid #111;
    border-radius: 5px;
    text-align: center;
}

.error {
    color: red;
    font-weight: bold;
}

.itemArea {
    box-shadow: 1px 1px 11px #ffc5a1;
    border-radius: 12px;
    padding: 4px;
    margin: 20px;
    height: auto;
    width: auto;
}

.itemArea h2 {
    margin-top: 50px;
    padding-top: 10px;
    color: #f8a978;
}

.itemImage {
    max-width:100%;
    max-height:100%;
}

.portrait {
    /* border: 1px solid red; */
    height: 80px;
    width: 60px;
    margin: 2px 4px;
    float:left;
    background-color: #fff;
}

.itemInfo span {
    color: #ffc5a1;
}

.itemDescription {
    color: #333;
}

.itemPrice {
    color: #badfdb;
    font-weight: bold;
    font-size: 2em;
}

#conteudo {
    margin: 100px auto 0 auto;
    padding: 15px 0;
    box-shadow: 6px 6px 5px 1px #000;
}

#formError {
    color: red;
    margin: 5px auto;
    width: 300px;
    padding: 5px;
    background-color: #eee;
    height: 40px;
    border: 1px dashed #cecece;
    border-radius: 10px;
}