@font-face {
    font-family: 'Arvo';
    src: url('../fonts/Arvo/Arvo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo/Cairo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo/Exo-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}




body {
    color: black;
    background-color: #00adb5;
    font-family: 'Cairo';
}

div {
    background-color: #eeeeee;
}

ul {
    display: inline-block;
    width: 180px;
    padding: 4px;
    border-bottom-right-radius: 62%;
    border-top-right-radius: 62%;
    box-shadow: 4px 1px 11px 2px #00adb5;
    background-color: #eee;
}

nav {
    position: fixed;
    height: 250px;
    width: 100%;
    bottom: 115px;
    left: -400px;
    margin-left: 0px;
    margin-bottom: 80px;
    transition: left 0.3s;
}

nav.expand {
    left: 0;
}

ul li {
    text-align: center;
    padding: 10px 2px;
    margin-bottom: 5px;
    font-size: 25px;
    font-family: 'Cairo', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: #393e46;
    text-decoration: none;
    cursor: pointer;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    text-align: center;
    background-color: #fff;
}

h1 {
    font-family: 'Arvo';
    font-size: 25px;
    padding: 5px;
    margin-left: 20px;
    color: #a76136;
}

h2 {
    margin: 5px 0;
    font-family: 'Arvo';
    font-size: 14px;
    color: #a76136;
}

form {
    margin: 5px auto;
    width: 300px;
}

button {
    background-color: #222831;
    box-shadow: inset 0px 1px 1px #f8a978;
    color: #eeeeee;
    border-style: solid;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: background-color 0.8s;
}

button:hover {
    background-color: #f8a978;
    color: #badfdb;
    cursor: pointer;
}

#responsive-menu {
    display: block;
    position: fixed;
    box-shadow: None;
    bottom: 35px;
    left: 5px;
    background-color: rgba(0,0,0,0.1);
    transform: rotate(90deg);
    transition: transform 0.2s;
    z-index: 2;
}

#responsive-menu:active {
    transform: rotate( 180deg);
}

#formLogin div {
    text-align: center;
}

input {
    padding: 12px;
    border: none;
    font-size: 1em;
    border-bottom: 1px solid black;
    border-radius: 4px;
}

#formLogin button {
    margin: 10px 20px;
}

#conteudo {
    margin: 100px auto 0 auto;
    padding: 15px 0;
    box-shadow: 6px 6px 5px 1px #000;
}

#formError {
    color: red;
    margin: 5px auto;
    width: 300px;
    padding: 5px;
    background-color: #eee;
    height: 40px;
    border: 1px dashed #cecece;
    border-radius: 10px;
}

.tips {
    width: 280px;
    height: 50px;
    padding: 5px;
    margin: 0px auto;
    background-color: rgb(111, 221, 221);
    border: 1px solid #111;
    border-radius: 5px;
    text-align: center;
}

.error {
    color: rgb(231, 82, 82);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.success {
    color: rgb(68, 185, 53);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.itemArea {
    box-shadow: 1px 1px 11px #393e46;
    border-radius: 12px;
    padding: 4px;
    margin: 20px;
    margin-top: 50px;
    padding-top: 10px;
    color: #00adb5;
    height: auto;
    width: auto;
}

.itemName {
    font-family: 'Exo';
    color: #393e46;
}

.itemImage {
    max-width:100%;
    max-height:100%;
}

.logo {
    width: 100%;
    max-width: 100%;
}

.itemInfo form {
    padding: 10px;
    text-align: center;
}

.itemButtons {
    display: flex;
    width: 100%;
}

.btnWarning {
    background-color: rgb(207, 53, 53);
}

.imgContainer {
    width: 100%;
    height: 100%;
    text-align: center;
}

.portrait {
    /* border: 1px solid red; */
    height: 80px;
    width: 70px;
    display: inline-block;
    margin: auto 1.5em;
    background-color: #fff;
}

.itemPrice {
    color: #00adb5;
    font-weight: bold;
    font-size: 2em;
}

.date {
    float: right;
    margin-right: 10px;
    color: #222831;
}

.show {
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    scale: 6;
    position: fixed;
    width: 90%;
    height: auto;
    margin: 0 auto;
    border: 2px solid #f8a978;
    border-radius: 5px;
    text-align: center;
}

#searchArea {
    margin: 0;
    width: 100%;
    display: inline-block;
    margin-bottom: 30px;
    text-align: center;
}

#serchArea input {
    height: 40px;
    padding: 4px;
}

#searchArea button{
    width: 90px;
    text-align: center;
    height: 40px;
    font-size: 16px;
    background-color: rgb(9, 112, 9);
}

#userRegister {
    margin-bottom: 40px;
}

#userRegister input {
    font-size: 22px;
    border-radius: 5px;
    border: 2px solid #00adb5;
}

.usrRegisterForms {
    text-align: center;
}

.btnTimeline {
    width: 100%;
    text-align: center;
}

.btnTimeline button {
    font-size: 16px;
    margin: 15px 20px;
}

#userArea {
    margin-bottom: 50px;
}

#userArea button {
    font-size: 20px;
    padding: 5px;
    margin-left: 10px;
}

#usrname {
    padding: 5px;
    margin-right: 10px;
    float: right;
    font-family: 'Exo';
    font-size: 22px;
    color: #00adb5;
    text-shadow: 1px 1px 2px #222831;
}

#usrname span {
    color: #eee;
    text-shadow: 1px 1px 3px #000;
}

#editForm {
    text-align: center;
    max-width: 100%;
}

.images {
    font-size: 9px;
    margin-bottom: 10px;
}

.infoArea {
    margin: 50px 40px;
}

.infoArea h1 {
    margin-bottom: 30px;
}

/* responsiveness */

@media only screen and (min-width: 240px) {

    button {
        padding: 5px;
    }

    nav {
        height: auto;
        top: 20%;
    }

    p {
        font-size: 12px;
    }

    nav li {
        font-size: 1rem;
        padding: 8px 0;
    }

    
    footer {
        font-size: 9px;
    }

    .itemArea {
        text-align: center;
    }

    .portrait {
        width: 30vw;
        height: 30vw;
        margin: 5px auto;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .show {
        top: 10%;
        margin: 0 auto;
        scale: 6;
        position: fixed;
        width: 90%;
        height: auto;
        margin: 0 auto;
        border: 2px solid #f8a978;
        border-radius: 5px;
        text-align: center;
    }

    .itemPrice {
        font-size: 2em;
        margin: 5px auto;
    }

    .date {
        font-size: 0.8em;
    }

    .itemName {
        font-size: 1em;
    }

    #responsive-menu {
        padding: 5px;
        left: 5px;
        font-size: 1em;
    }

    #usrRegisterForms {
        width: 100%;
        text-align: center;
    }
    
    #formRegisterItem {
        width: 100%;
        text-align: center;
    }

    #formRegisterItem input {

        margin: 5px auto;
        padding: 4px;
        width: 160px;
        font-size: 9px;
    }

    #formRegisterItem button {
        margin-top: 20px;
    }

    .tips {
        width: 100px;
    }

    #formRegUser {
        width: 100%;
    }

    #userRegister input {
        font-size: 16px;
        margin-top: 5px;
        padding: 0;
    }

    #formLogin {
        font-size: 12px;
        width: 100%;
    }

    @media only screen and (min-width: 320px) {

        nav {
            top: 45%;
        }

        nav ul {
            width: 40%;
        }
    }

    @media only screen and (min-width: 768px) {

        #responsive-menu {
            display: None;
        }

        #searchArea button {
            margin: 0 4px;
            vertical-align: middle;
            padding: 10px;
        }

        p {
            font-size: 1rem;
        }

        button {
            padding: 2vw;
        }

        nav {
            left: 0;
            top: 0;
            width: 100%;
            height: 60px;
        }

        nav ul {
            width: 100%;
            height: 100%;
            border-radius: 0;
            text-align: center;
            list-style-type: none;
            margin: 0 auto;
            padding: 0;
            overflow: hidden;
            background-color: #393e46;
            box-shadow: 1px 1px 3px;
        }

        nav ul li {
            float: left;
            margin-left: 6vw;
        }

        nav ul li a {
            display: block;
            color: #eee;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: color .3s;
        }

        nav ul li a:hover {
            color: #00adb5;
        }

        footer {
            font-size: 1em;
        }

        .itemName {
            font-size: 1.5em;
        }

        .images {
            width: 100%;
            font-size: 1em;
        }

        .tips {
            padding: 20px;
            padding-bottom: 50px;
            margin-bottom: 30px;
        }
    }
}